@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;

}

.containerHome {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../images/fondo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.containerHome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.51);
  pointer-events: none;
}

.tittle {
  font-weight: 600;
  color: white;
  position: relative;
  z-index: 2;
  font-size: 60px;
  text-align: center;
  line-height: 270px;
}

.containerOptionsHome {
  position: absolute;
  margin-left: 270px;
  bottom: 0;
  width: 60%;
  height: 50%;
  background: rgba(165, 165, 165, 0.938);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 0px 10px 60px 0px #646464,
    0px 10px 30px 0px #F8BF00;
}


.containerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.buttonHome {
  margin: 0 12px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 7px;
  border: 2px solid rgb(255, 238, 4);
  text-transform: uppercase;
  color: #111;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}


.buttonHome::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background: rgb(255, 238, 4);
  transition: 0.5s ease-in-out;
  transform: scaleY(1);
  transition-delay: 0.5s;
}

.buttonHome:hover::before {
  transform: scaleY(0);
}

.buttonHome::after {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background: rgb(255, 238, 4);
  transition: 0.5s ease-in-out;
  transform: scaleX(1);
}


.buttonHome:hover::after {
  transform: scaleX(0);
}

.buttonHome span {
  position: relative;
  z-index: 3;
}

.container {
  position: relative;
  width: 100%;
  background: url("../images/dinero.jpg") no-repeat top center / cover;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #ffffff;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: black;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input::placeholder {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.btn {
  width: 150px;
  background: linear-gradient(135deg, rgb(255, 251, 17) 0%, rgb(245, 242, 72) 100%);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background: linear-gradient(135deg, rgb(189, 186, 0) 100%, rgb(160, 157, 2) 0%);
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background: linear-gradient(135deg, rgb(255, 252, 58) 0%, rgb(219, 216, 0) 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 70%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 21% 2rem 6%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: rgb(3, 3, 3);
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: rgb(255, 255, 255);
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}


.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }

  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }

  .panel .content {
    padding: 0.5rem 1rem;
  }

  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

.containerMenu {
  min-height: 100vh;
  width: 100%;
  background-color: #ffee00;
  background-image: linear-gradient(135deg, #c4c24f 0%, #bebc2c 74%);
  overflow-x: hidden;
  transform-style: preserve-3d;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
  justify-content: center;
}

.menu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  background: url("../images/fondoM.jpg") no-repeat top center / cover;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(44, 43, 0, 0.705);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 35rem;
  text-align: center;
  color: rgb(211, 209, 209);
  padding: 0 2rem;
  font-size: 20px;
}

.titleMenu {
  font-size: 2.7rem;
  color: white;
}

.btnMenu {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background-color: #e5ff00;
  border: none;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.containerMenu.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.containerMenu.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.containerMenu.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.containerMenu.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: #fff;
}

.containerMenu.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
    z-index: 100;
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.containerMenu.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.containerMenu.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.containerMenu.active .main:hover+.shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.containerMenu.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  width: 100%;
  padding: 50px 20px;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: linear-gradient(-20deg, #ffffff 0%, #ffc400 100%);
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
  }
}

.contenedor {
  width: 100%;
  height: 527px;
  margin: auto;
  -webkit-box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: #fff;
  border-radius: 12px;
  max-width: 700px;
  position: relative;
}

.contenedor.active .perfil {
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.contenedor.active .profile-card-message,
.contenedor.active .profile-card__overlay {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.contenedor.active .profile-card-form {
  -webkit-transform: none;
  transform: none;
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.perfil_img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  -webkit-box-shadow: 0px 5px 50px 0px #eafc44, 0px 0px 0px 7px rgba(237, 255, 74, 0.5);
  box-shadow: 0px 5px 50px 0px #f9fc44, 0px 0px 0px 7px rgba(255, 228, 74, 0.5);
}

@media screen and (max-width: 576px) {
  .perfil_img {
    width: 120px;
    height: 120px;
  }
}

.perfil_img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.perfil {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nombre {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin-bottom: 15px;
}

.txt {
  font-size: 18px;
  font-weight: 600;
  color: #1c2d3a;
  margin-bottom: 15px;
}

.txt strong {
  font-weight: 700;
}

.lacation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.lacation_icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 22px;
  margin-right: 12px;
}

.social {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.social_item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  background: #405de6;
  -webkit-box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
  box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
  position: relative;
  font-size: 21px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 768px) {
  .social_item {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}

@media screen and (min-width: 768px) {
  .social_item:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.social_item.facebook {
  background: linear-gradient(45deg, #3b5998, #0078d7);
  -webkit-box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
  box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
}

.social_item.twitter {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  -webkit-box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
}

.social_item.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  -webkit-box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
  box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
}

.social_item.github {
  background: linear-gradient(45deg, #333333, #626b73);
  -webkit-box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
  box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
}

.profile-card-social .icon-font {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
}

@media screen and (max-width: 576px) {
  .botones {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.button {
  background: none;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin: 15px 35px;
  padding: 15px 40px;
  min-width: 201px;
  border-radius: 50px;
  min-height: 55px;
  color: #fff;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 768px) {
  .button {
    min-width: 170px;
    margin: 15px 25px;
  }
}

@media screen and (max-width: 576px) {
  .button {
    min-width: inherit;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
  }

  .button:last-child {
    margin-bottom: 0;
  }
}

.button:focus {
  outline: none !important;
}

@media screen and (min-width: 768px) {
  .button:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.button:first-child {
  margin-left: 0;
}

.button:last-child {
  margin-right: 0;
}

.button.button--blue {
  background: linear-gradient(45deg, #1d32f2, #0e71c8);
  -webkit-box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}

.button.button--blue:hover {
  -webkit-box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
  box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
}

.button.button--orange {
  background: linear-gradient(45deg, #d5c813, #f0ba24);
  -webkit-box-shadow: 0px 4px 30px rgba(150, 138, 35, 0.863);
  box-shadow: 0px 4px 30px rgba(223, 211, 45, 0.747);
}

.button.button--orange:hover {
  -webkit-box-shadow: 0px 7px 30px rgba(255, 196, 0, 0.75);
  box-shadow: 0px 7px 30px rgba(255, 251, 0, 0.75);
}

.profile-card-form {
  -webkit-box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
  box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 35px;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  position: relative;
  z-index: 3;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 768px) {
  .profile-card-form {
    max-width: 90%;
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  .profile-card-form {
    padding: 20px;
  }
}

.conta {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  background-image: linear-gradient(-20deg, #ffffff 0%, #ffc400 100%);
}

.containerG {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.containerG .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3),
    -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
}

.containerG .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border: 2px solid #1e1f23;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.containerG .card .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.containerG .card .box:hover {
  transform: translateY(-50px);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}

.containerG .card .box .contentG {
  padding: 20px;
  text-align: center;
}

.containerG .card .box .contentG h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
}

.containerG .card .box .contentG h3 {
  font-size: 1.8em;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  transition: 0.5s;
}

.containerG .card .box .contentG p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.747);
  z-index: 1;
  transition: 0.5s;
}

.containerG .card .box .contentG span {
  color: black;
}

.btn-editar {
  color: rgb(0, 0, 0);
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: rgb(255, 216, 41);
  margin: 5px;
  margin-top: 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3);
}


.tittleGastos {
  margin: auto;
  width: 300px;
  font-size: 30px;
  text-align: center;
}

.btn-modal:hover {
  background: rgb(34, 34, 34);
  cursor: pointer;
  transform: scale(0.9);
}

.tittHormiga {
  margin: auto;
  width: 600px;
  text-align: center;
}

.compraH {
  font-style: italic;
  color: #1e1f23;
}

::selection {
  background: rgba(251, 255, 0, 0.363);
}

.container_info_gastos {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(-20deg, #ffffff 0%, #ffc400 100%);
}

.left_container,
.right_container {
  width: 50%;
  height: 100%;
  position: absolute;
  max-width: 50%;
}

.left_container {
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_container h2,
p {
  text-align: center;
  margin: 10px;
}

.right_container {
  right: 0;
  padding: 30px;
  overflow: scroll;
}

.wrapper_info_right {
  position: absolute;
  top: 18%;
  padding-left: 90px;
  padding-right: 80px;
}

.right_container .parent-tab,
.right_container .child-tab {
  margin-bottom: 8px;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}

.right_container .parent-tab label,
.right_container .child-tab label {
  background: rgba(49, 47, 47, 0.863);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  z-index: 99;
  transition: all 0.3s ease;
}

.right_container .parent-tab label:hover {
  background: #ddd016;
}

.parent-tab input:checked~label,
.child-tab input:checked~label {
  border-radius: 3px 3px 0 0;
  background: rgba(49, 47, 47, 0.863);
}

.right_container label span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0 -1px 1px #e2e600;
}

.right_container .child-tab label span {
  font-size: 17px;
}

.parent-tab label .icon_info {
  position: relative;
  height: 30px;
  width: 30px;
  font-size: 15px;
  color: #000000;
  display: block;
  background: #fff;
  border-radius: 50%;
  text-shadow: 0 -1px 1px #e2e600;
}

.right_container .child-tab label .icon_info {
  height: 27px;
  width: 27px;
}

.parent-tab label .icon_info i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parent-tab input:checked~label .icon_info i:before,
.child-tab input:checked~label .icon_info i:before {
  content: '\f068';
}

.right_container .parent-tab .content,
.right_container .child-tab .sub-content {
  max-height: 0px;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 3px 3px;
  transition: all 0.4s ease;
}

.parent-tab input:checked~.content,
.child-tab input:checked~.sub-content {
  max-height: 100vh;
}

.tab-3 input:checked~.content {
  padding: 15px 20px;
}

.parent-tab .content p,
.child-tab .sub-content p {
  padding: 15px 20px;
  font-size: 16px;
}

.child-tab .sub-content p {
  font-size: 15px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.container_info_card {
  width: 300px;
  min-height: 350px;
  border: none;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding-top: 60px;
  margin-top: 20px;
}

.content-slide {
  margin: 0 20px;
  width: 400px;
}

.imagenes {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.container-profiles {
  position: relative;
  width: 1150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-profiles .img-profile {
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 200px;
  background: white;
  margin: 20px;
  border-radius: 50%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.container-profiles .img-profile:hover {
  transform: translateY(-10px);
}

.container-profiles .containerHoverImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
}

.container-profiles .containerHoverImg:hover {
  opacity: 1;
}

.container-profiles .hoverImg i,
.container-profiles .hoverImg p {
  padding: 10px;
}

.container-profiles .img-profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}